body{
    background-color: rgb(58, 181, 238);
    color: rgb(254, 255, 255);
}
h1{
  padding: 1px; 
  border: 5px solid rgb(65, 58, 58); 
  text-align: center; 
}
h2{
    border: 5px solid  rgb(65, 58, 58);
    text-align: center;
}
ul{
    text-align: center;
}
li {
list-style: none;
}
form{
    display: flex;
    justify-content: center;

}