<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<h>, initial-scale=1.0">
    <title>Groups</title>
</head>
<body>
    
       
    <h1>Groups</h1>

        <form method="POST">
        <input type="text" id="grp-name" placeholder="Group Name..." name="groupe">
        <input type="text" id="grp-nb" placeholder="Number of students...">

        <button class="addBtn">Add</button>
        </form>

      <h2>Group List:</h2>
    <section>
        <% jsonGroup.forEach(el => { %>
        <div> <h3> <%= el.groupe %>  </h3> 
        <ul> <% el.name.forEach(e => { %>
        <li> <%= e%></li>
        <% })});  %></ul>
       
    </section>
</body>
</html>