<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<h>, initial-scale=1.0">
    <title>Groups</title>
</head>
<body>
    
       
    <h1>Groups</h1>

        <form method="POST">
        <input type="text" id="grp-name" placeholder="Group Name...">
        <input type="text" id="grp-nb" placeholder="Number of students...">

        <button class="addBtn">Add</button>
        </form>

      <h2>Group List:</h2>
    <ul>
        <li>EJS - Martin/Alex/Lou</li> 
       
    </ul>
</body>
</html>