<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<h>, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
        <div id="myDIV" class="header">
        <h2>Students list</h2>
        <input type="text" id="myInput" placeholder="Students...">
        <button onclick="add()" class="addBtn">Add</button>
      </div>
      
    <ul>
        <li>Martin</li>
        <li>Rose</li>
        <li>Mather</li>
        <li>Sarah</li>
        <li>Pouline</li>
    </ul>
</body>
</html>